@import "tailwindcss";

@theme {
  --color-back: #2a323f;
  --color-primary: #ff9301;
  --color-secondary: #03698d;
}

@font-face {
  font-family: "fallitin";
  src: url("./Utils/fonts/fallitin.ttf") format("truetype");
}
@font-face {
  font-family: "sense";
  src: url("./Utils//fonts/sense.ttf") format("truetype");
}
@font-face {
  font-family: "sky";
  src: url("./Utils/fonts/Skynews.ttf") format("truetype");
}

* {
  font-family: "fallitin", sans-serif;
}
/* Hide scrollbar but allow scroll */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
